.callToAction {
  background: url('/imgs/bg-boost-desktop.svg') no-repeat;
  background-size: cover;
  background-color: $dark-violet;
  padding: 5%;
  text-align: center;

  h2 {
    color: $light-gray;
    line-height: 4rem;
  }

  button {
    background-color: $cyan;
    padding: 12px 30px;
    color: $light-gray;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
  }
}