.jumbotron {
  padding: 0 11%;
  height: 88vh;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;

  .jumboLeft {
    width: 54%;

    h1 {
      line-height: 5.4rem;
    }

    .jumboCaption {
      color: $grayish-violet;
      line-height: 2.2rem;
      font-size: 1.4rem;
    }
  }

  .jumboRight {
    width: 43%;
    z-index: -999;

    img {
      width: 145%;
      margin-right: -300px;
    }
  }
}