nav {
  display: flex;
  padding: 0 11%;
  justify-content: space-between;
  align-items: center;

  .navLeft {
    display: flex;
    align-items: center;

    h3 {
      margin-right: 25px;
    }

    ul {
      display: flex;

      li {
        padding: 0 15px;

        a {
          font-size: 1rem;
          color: $grayish-violet;
          text-decoration: none;
          // font-weight: 700;

        }
      }
    }
  }

  .navRight {
    button {
      margin: 0 10px;
      padding: 8px 20px;
      border-radius: 20px;
      font-weight: 700;
      font-size: 1rem;
      border: 1px solid transparent;

      &.login {
        background-color: transparent;
        color: $grayish-violet;
      }

      &.signUp {
        background-color: $cyan;
        color: white;
      }
    }
  }
}