.searchBarContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 128px;
  height: 160px;
  width: 77%;
  margin: 0 auto;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-image: url('/imgs/bg-shorten-desktop.svg');
  background-color: $dark-violet;
  z-index: 999;

  form {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;

    input[type='text'] {
      width: 65%;
      padding: 20px;
      border-radius: 6px;
      border: 0px;
      font-size: 1.2rem;
    }

    button {
      background-color: $cyan;
      padding: 20px 30px;
      color: $light-gray;
      font-size: 1.3rem;
      font-weight: 600;
      border: none;
      border-radius: 6px;
    }
  }
}

.shortenedURLContainer {
    background-color: $light-gray;
    top: 52px;
    position: relative;
    padding-top: 107px;
    li {
      margin: 10px 11.5%;
      padding: 20px;
      background-color: white;
      border-radius: 6px;
    }
}